alias config='GIT_DIR=~/.dotfiles GIT_WORK_TREE=~ git'

# To set up a new machine:
#   git clone --separate-git-dir=~/.dotfiles /path/to/repo ~/dotfiles-tmp
#   cp ~/dotfiles-tmp/.gitmodules ~  # if using Git submodules
#   rm -r ~/dotfiles-tmp/
#   alias config='GIT_DIR=~/.dotfiles GIT_WORK_TREE=~ git'
#   config config --local status.showUntrackedFiles no
#   config checkout  # will complain about collisions

if which lsd > /dev/null 2>&1; then
	alias ls="lsd --group-dirs first"
fi
alias ll="ls -l"
alias la="ls -a"
alias lla="ls -la"

alias open="xdg-open"
alias note="notes add"
alias lmk="notify-send -i terminal 'Done!' 'The command finished executing'"
alias todo="\$EDITOR ~/Nextcloud/Obsidian/todo.md"
alias ladybird="QT_QPA_PLATFORM=xcb ladybird"

alias grep="grep --color=auto"
alias ip="ip -c"
alias bat="bat --italic-text always"

alias codium="codium --enable-features=UseOzonePlatform --ozone-platform=wayland"
alias code="codium"

alias arecord="arecord -f cd -t wav"

share () {
	curl --progress-bar -F"file=@$1" 0x0.st | tee /dev/tty | wl-copy | echo "copied URL"
}

md2pdf () {
  [[ -z "$1" ]] && set -- "$(echo ./*.md | head -n 1 || true)"
  pandoc -s "$1" -o "${1%%.md}.pdf" -V geometry:margin=1in --highlight=tango "${@:2}"
}

md2pdf_cont () {
  [[ -z "$1" ]] && set -- "$(echo ./*.md | head -n 1 || true)"
  echo "$1" | entr bash -c "$(declare -f md2pdf); md2pdf $* && echo -n ."
}

alias static="cat /dev/urandom | aplay -f cd -"
audiobook () {
	static &
	PID=$!
	mpv --no-video --save-position-on-quit "$1"
	kill -9 $PID
}

